%nav.navbar.navbar-default{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "Timeblocks", root_path, :class => 'navbar-brand'
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      - if user_signed_in?
        %li
          = link_to 'Logout', destroy_user_session_path, :method=>'delete'
      - else
        %li
          = link_to 'Login', new_user_session_path
      - if user_signed_in?
        %li
          = link_to 'Edit account', edit_user_registration_path
        - if current_user.has_role? :admin
          %li
            = link_to 'Admin', users_path
      - else
        %li
          = link_to 'Sign up', new_user_registration_path