%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    = link_to "Timeblocks", root_url, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-mobile-bottom{style: "display:inline;"}
      - if user_signed_in?
        %li
          %a{href: new_activity_path}
            + Add
        %li
          = link_to 'Edit account', edit_user_registration_path
        %li
          = link_to 'Logout', destroy_user_session_path, :method=>'delete'
      - else
        %li
          = link_to 'Login', new_user_session_path
      - if user_signed_in?
        - if current_user.has_role? :admin
          %li
            = link_to 'Admin', users_path
      - else
        %li
          = link_to 'Sign up', new_user_registration_path